/c-language/c-language
/c-language/lex.yy.c
/c-language/parser.tab.c
/c-language/scanner.yy.c
/c-language/parser.tab.h
/c-language/analise-sintatica
/c-language/c-language.output
/c-language/gcm
/c-language/*.txt
/c-language/*.cmc3e
/sandbox
.vscode
